// Breadcrumb
ol.breadcrumb.border-0.m-0(style={"display":"none"})
  li.breadcrumb-item 
    b#series_num
    | &nbsp; Series
  li.breadcrumb-item
    b#biosample_name_num
    | &nbsp; Biosamples
  li.breadcrumb-item 
    b#samples_num
    | &nbsp; Samples
    // Breadcrumb Menu
