ol.breadcrumb.breadcrumb-dashboard.border-0.m-0(style={"display":"none"})
  li.breadcrumb-item
    
    #projectToogleDiv
    span(style={"padding-top": "3px;"}) &nbsp; Project 
  li.breadcrumb-item(style={"padding-top": "3px;"})
    b#series_num
    | &nbsp; Series
  li.breadcrumb-item(style={"padding-top": "3px;"})
    b#biosample_name_num
    | &nbsp; Biosamples
  li.breadcrumb-item(style={"padding-top": "3px;"})
    b#samples_num
    | &nbsp; Samples
ol.breadcrumb.breadcrumb-default.border-0.m-0(style={"display":"none"})
  li.breadcrumb-item= title
