div#crudModal.modal.fade(tabindex="-1" aria-modal="true" role="dialog" style="z-index:1053;")
    div.modal-dialog.modal-dialog-scrollable.modal-xl(role="document")
        div.modal-content
            div.modal-header
                h4#crudModalTitle.modal-title
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div#crudModalBody.modal-body    
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                button#crudModalYes.btn.btn-primary(type="button") Save

div#crudModal2.modal.fade(tabindex="-1" aria-modal="true" role="dialog" style="top:5%; z-index:1054;" )
    div.modal-dialog.modal-dialog-scrollable.modal-lg(role="document")
        div.modal-content
            div.modal-header
                h4#crudModalTitle2.modal-title
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div#crudModalBody2.modal-body    
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                button#crudModalYes2.btn.btn-primary(type="button") Save

div#infoModal.modal.fade(tabindex="-1" aria-modal="true" role="dialog" style="top:5%; z-index:1055;")
    div.modal-dialog.modal-dialog-scrollable.modal-lg(role="document")
        div.modal-content
            div.modal-header
                h4.modal-title Information
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div.modal-body 
                span#infoModalText
                <br/>
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") OK
            
div#groupModal.modal.fade(tabindex="-1" aria-modal="true" role="dialog")
    div.modal-dialog.modal-dialog-scrollable.modal-xl(role="document")
        div.modal-content
            div.modal-header
                h4#groupModalTitle.modal-title
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div#groupModalBody.modal-body 
                form#groupModalAdd.form-horizontal(style="margin-bottom:40px;")
                    h5(style="margin-bottom:20px;") Add New Member
                    div.form-group.row
                        label.col-sm-2.col-form-label(style="padding-left:30px;") E-Mail of the User
                        div.col-sm-8
                            input#groupModal_email.form-control(type="email")
                        div.col-sm-2
                            button#groupModal_adduser.btn.btn-primary(type="button") Add User
                                i.cil-user
                h5(style="margin-bottom:10px;") Group Members
                table#groupmembertable.table.table-striped(cellspacing="0" style='white-space: nowrap; width:100%;')
                    thead
                        tr
                            th Name
                            th Username
                            th E-mail
                            th Options
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") OK